[Unit]
Description=sonos-lms player for room %I
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/opt/sonos-lms/sonos-lms --room=%I
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
